 
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        
        body{
            background-color: #EB92BE;
            }

        .titulo{
            text-align: center;
            font-size: 40px;
            margin: 10px;
            color: #fff;
        }

        .navegacion{
            width: 100%;
            margin: 30px auto;
            background-color: #f8e2ea;
        }

        .navegacion ul{
            list-style: none;

        }
        
        .menu > li{
            position: relative;
            display: inline-block;
        }

        .menu > li > a{
            display: block;
            padding: 15px 20px;
            text-decoration: none;
        }

        .menu li a:hover{
            color: #FFEF78;
            transition: all 0.3s;

        }

        .submenu{
            position: absolute;
            background-color: rgba(253, 186, 252, 0.233);
            visibility: hidden;
            opacity: 0;
            transition: opacity 1.5s;
        }
        .submenu li a{
            display: block;
            padding: 15px;
            color: #fff;
            text-decoration: none;
        }
        .menu li:hover .submenu{
            visibility: visible;
            opacity: 1;
            cursor: pointer;
        }
        form{
            background-color: rgba(255, 255, 255, 0.466);
            border-radius: 6px;
            color: #999;
            padding: 60px auto;
            margin: 15px auto;
            width: 600px;
            font-size: 24px;
        }
        input, textarea{
            margin: auto;
            outline: none;
            
        }
        
        .campo{
            padding: 5px;
            border-radius: 6px;
            border: 1px solid;
            outline: none;
        }
        .campo:focus{
            border-color: #cdb4db;
        }
        .enviar{
            padding: 5px;
            background-color: #f72585;
            border: none;
            border-radius: 6px;
            font-size: 24px;
            color: #fff;
            margin: 10px auto;
            display: inline-block;
            cursor: pointer;
            width: 100%;
           
        }