/* Diseño inicial */
*{
    margin: 0;
    padding: 0px;
}
html, body{
    height: 100%;
}
#container_ppal, #containerPage{
    height: 100%;
}
#container_ppal{
    width: 100%;
}
#containerPage{
    width: 1280px;
    margin: 0 auto;
}

/* Estilo encabezado */

.contenedor-header{
    display: flex;
    background-image: url(/Imagenes/fondo/pincelada.png);
    background-color: #f9f0f2;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
.contenedor-logo{
    width: 20%;
    height: 180px;
    margin-top: 1%;
    margin-left: 3%;
}
.img-logo{
    width: 130%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    padding-right: 8%;
}

/* Estilo Menu */

.contenedor-menu{
    width: 70%;
    display: inline-block;
    justify-self: right;
}
.navegacion{
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 17px;
}
.navegacion ul{
    list-style: none;
}
.menu{
    position: absolute;
    top: 10%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li{
    display: inline-block;
    padding: 0 1.2em;
}
.menu > li > a{
    padding: 8px 15px;
    text-decoration: none;
    color: #fff ;
    border-bottom: 1px solid black;
}
.menu li a:hover{
    color: black;
    transition: all 0.5s;
    
    background-color: #f9f0f2ad;
    border-radius: 5px;
}
.submenu{
    margin-top: 2%;
    position:absolute;
    background-color: #d1b3c4;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0.3;
    transition: all 0.5s;
    list-style: none;
    width: 28%;
    font-size: 15px;
}
.submenu li{
    display: block;
    padding: 10px 0;
    margin-left: 0;
}
.submenu li a{
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    z-index: 9999;
}
.icon-menu{
    display: none;
}

/* Estilos main */

main{
    background-color: #f9f0f2;
}
.container-main{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

/* Estilos main index */

.freyaEs{
    text-align: center;
    margin: 5% 20%;
}
.freyaEs h2{
    font-size: 40px;
}
.freyaEs p{
    font-size: 20px;
    margin-top: 15px;
}
.section_video{
    display: flex;
    width: 100%;
    margin: auto;
    padding-bottom: 3%;
    border-bottom: 1px solid #555;
}
.container_video{
    width: 150%;
    height: 100%;
}
.video{
    width: 100%;
    max-width: 150%;
}
.textVideo {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    text-align: center;
    letter-spacing: 10px;
    color: #735d78;
    margin: auto;
    padding-left: 15%;
}
.textWhatsapp {
    display: block;
    font-family: 'Ephesis', cursive;
    font-size: 40px;
    text-align: center;
    color: #735d78;
    letter-spacing: 10px;
    width: 70%;
    margin: 50px auto 0;
}
.textWhatsapp h4{
    font-size: 30px;
}
nav.index{
    background-color: #F7D1CD;
    width: 100%;
    height: 20px;
}
a:link{   
    text-align: center;
    text-decoration: none;
}

/* Estilos main Galeria */

.contenedor_galeria{
    width: 100%;
}
.galeria{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 3px;
}
.imagen_galeria{
    width: 45%;
    position: relative;
    height: 400px;
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}
.imagen_galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

/* otros estilos*/

.contenedorPaleta{
    display: flex;
    width: 70%;
    padding-top: 50px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: px;
}
.contenedorPaleta .imagen{
    width: 25%;
    position: relative;
    height: 300px;
    margin-bottom: 5px;
    padding: 15px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}
.contenedorCorazon{
    display: flex;
    width: 70%;
    padding-top: 50px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
}
.contenedorCorazon .imagen{
    width: 32%;
    position: relative;
    height: 400px;
    margin-bottom: 2px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}
.contenedorVariedad{
    display: flex;
    width: 70%;
    padding-top: 50px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
}
.contenedorVariedad .imagen{
    width: 32%;
    position: relative;
    height: 500px;
    margin-bottom: 3px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}
.contenedorVertical{
    display: flex;
    width: 70%;
    padding-top: 50px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 3px;
}
.contenedorVertical .imagenVertical{
    width: 33%;
    position: relative; 
    height: 550px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}
.imagenVertical img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.contenedorVertical .imagenLicor{
    width: 33%;
    position: relative; 
    height: 450px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}
.imagenLicor img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.contenedorInicial{
    display: flex;
    width: 75%;
    padding-top: 50px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 3px;
}
.contenedorInicial .imagen{
    width: 32%;
    position: relative; 
    height: 450px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #d1b3c48e;
    width: 100%;
    height: 0;
    transition: .5 ease;
    overflow: hidden;
}
.overlay h2{
    color: #fff;
    font-style: oblique;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.imagen_galeria:hover .overlay{
    height: 100%;
    cursor: pointer;
}
.imagenVertical:hover .overlay{
    height: 100%;
    cursor: pointer;
}
.imagenLicor:hover .overlay{
    height: 100%;
    cursor: pointer;
}


/* Estilo main contactenos (formulario) */

.tituloFormulario{
    padding: 30px;
    text-align: center;
    color: #735D78;
}
form.contacto{
    display: flex;
    font-family: "Monserrat";
    color: #735d78;
    width: 600px;
    font-size: 20px;
    margin: auto;
    justify-content: left;
    flex-wrap: wrap;
    overflow: hidden;
}
legend.text{
    text-align: center;
}
.campo{
    display: block;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 92%;
    height: 20px;
    font-size: 16px;
    color: rgb(85, 85, 85);
}
.grupo{
    margin: 15px;
    width: 100%;
    color: rgba(85, 85, 85);
}
textarea.campo{
    height: 100px;
}
.campo:focus{
    border-color: #cdb4db;
}
.boton{
    padding: 2px;
    background-color: #b392ac;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: #fff;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: pointer;
    width: 25%;
}
.boton:hover{
    color: #735d78;
    transition: all 0.3s;
    background-color: #e8c2ca;
    border-radius: 10px;
}

/* Estilos main de Registro de clientes (formulario) */

.selectDto{
    display: block;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 94%;
    height: 30px;
    font-size: 16px;
    color: rgba(85, 85, 85, 0.452);
}
fieldset{
    width: 100%;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-image: initial;
}

/* Estilo para el Footer */

.contenedor-footer{
    display: flex;
    background-image: url(/Imagenes/fondo/footer.png);
    background-color: #f9f0f2;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    flex-direction: column;
}
.titulofooter{
    font-family: 'Montserrat';
    font-size: 15px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
}
.iconos{
    float: left;
    margin: 100px 0 100px 0;
}
.textofooter{
    float: left;
    margin:100px 0 100px 0;
}
.IMG_footer{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 15px;
}

/* Responsive */
@media (max-width: 768px){
    html{
        overflow-x: hidden;
    }
    #containerPage{
        width: 100%;
        height: 100%;
    }
    .contenedor-header{
        flex-direction: column;
    }
    .contenedor-logo{
        padding-left: 8%;
    }
    .contenedor-menu{
        width: 60%;
    }
    .icon-menu{
        width: 7%;
        font-size: 2em;
        border: 1px solid #454546;
        display: block;
        padding: 5px;
        cursor: pointer;
        margin-top: 10%;
        margin-left: 80%;
        z-index: 9999999;
    }
    .icon-menu:hover{
        color: #e8c2ca;
    }
    .navegacion{
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
        z-index: 999;
    }
    .menu{
        display: block;
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .menu li a{
        color: #735d78; 
    }
    .mostrar{
        opacity: 5;
        visibility: visible;
    }
    .section_video{
        flex-direction: column;
    }
    .container_video{
        width: 60%;
        margin: auto;
    }
    .video{
        margin: auto;
    }
    .textVideo{
        margin: 40px auto;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 30px;
    }
    .textWhatsapp{
        font-size: 30px;
        margin: auto;
        padding-top: 30px;
    }
    .contenedor-footer{
        flex-direction: column;
    }
    .iconos{
        padding-top: 80px;
        padding-left: 40px;
    }
    .textofooter{
        padding-top: 30px;
    }
    .textofooter h2{
        font-size: 8px;
        padding-top: 10px;
    }
}

@media (max-width: 1024px) {
    html{
        overflow-x: hidden;
    }
    #containerPage{
        width: 100%;
        height: 100%;
    }
    .contenedor-menu{
        width: 65%;
    }
    .contenedor-logo{
        width: 20%;
        margin-left: 1%;
    }
    .menu li{
        padding: 0 8px;
    }
    .submenu{
        width: 30%;
    }
    .submenu li{
        padding: 10px 0;
    }
    .submenu li a{
        padding: 10px 3px;
    }

    /* main index */

    .textVideo{
        font-size: 80%;
        padding-left: 5px;
    }
    .textWhatsapp h3{
        font-size: 80%;
    }
    /* main galeria */
    .imagen_galeria{
        height: 300px;
    }
}