/* Diseño inicial para un width: 1800px */
*{
    margin: 0;
    padding: 0px;
    
}
html, body{
    height: 100%;
}


/* Estilos para todos los encabezados */

.contenedor-header{
    display: flex;
    background-image: url(/Imagenes/fondo/pincelada.png);
    background-color: #f9f0f2;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}

/* Estilo barra de navegación */

div.contenedor-titulo{
    margin-top: 30px;
    color: #fff;
}

.contenedor-menu{
    margin-top: 50px;
    position: relative; 
}

.navegacion{
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 17px;
    padding: 15px;

    
}

.navegacion ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu > li{
    display: inline-block;
    margin-left: 50px;
    border-bottom: rgb(0, 0, 0) 2px solid;
    
}

.menu > li > a{
    display: block;
    padding: 5px 30px;
    text-decoration: none;
    color: #fff ;
}

.menu li a:hover{
    color: #735d78;
    transition: all 0.3s;
    background-color: #e8c2ca;
    border-radius: 10px;
}

.submenu{
    position: absolute;
    background-color: #d1b3c4;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0.5;
    transition: opacity 1.5s;
    list-style: none;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    display: block;
    z-index: 9999;
}

#boton-menu{
    display: none;
}

header label{
    display: none;

}

/* Estilo para el Footer */

div.contenedor-footer{
    display: flex;
    background-image: url(/Imagenes/fondo/footer.png);
    background-color: #f9f0f2;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}

.titulofooter{
    font-family: 'Montserrat';
    font-size: 15px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
}

.iconos{
    float: left;
    margin: 100px 0 100px 0;
}

.textofooter{
    float: left;
    margin:100px 0 100px 0;
}

.IMG_footer{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 15px;
}

/* Estilos main */

main{
    background-color: #f9f0f2;
    height: 100%;
}
.container-main{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}
.freyaEs{
    text-align: center;
    margin: 5% 20%;
}

.freyaEs h2{
    font-size: 40px;
}

.freyaEs p{
    font-size: 20px;
    margin-top: 15px;
}

.contendorVideo{
    display: flex;
    width: 100%;
    margin: auto;
}

.video{
    margin: 0 20px;
    width: 100%;
    max-width: 600px;

}

.textVideo {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    text-align: center;
    letter-spacing: 10px;
    color: #735d78;
    margin: auto;
}

.textWhatsapp {
    display: block;
    font-family: 'Ephesis', cursive;
    font-size: 40px;
    text-align: center;
    color: #735d78;
    letter-spacing: 10px;
    width: 70%;
    margin: 50px auto 0;
}

.textWhatsapp h4{
    font-size: 30px;
}

nav.index{
    background-color: #F7D1CD;
    width: 100%;
    height: 20px;
}

a:link{   
    text-align: center;
    text-decoration: none;
}

/* Estilo para formulario de contacto */

.tituloFormulario{
    padding: 30px;
    text-align: center;
    color: #735D78;
}

form.contacto{
    display: flex;
    font-family: "Monserrat";
    color: #735d78;
    width: 600px;
    font-size: 20px;
    margin: auto;
    justify-content: left;
    flex-wrap: wrap;
    overflow: hidden;
}

legend.text{
    text-align: center;
}

.campo{
    display: block;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 92%;
    height: 20px;
    font-size: 16px;
    color: rgb(85, 85, 85);
}

.grupo{
    margin: 15px;
    width: 100%;
    color: rgba(85, 85, 85);
}

textarea.campo{
    height: 100px;
}

.campo:focus{
    border-color: #cdb4db;
}

.boton{
    padding: 2px;
    background-color: #b392ac;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: #fff;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: pointer;
    width: 25%;
}

.boton:hover{
    color: #735d78;
    transition: all 0.3s;
    background-color: #e8c2ca;
    border-radius: 10px;
}

/* Estilos Galeria */

h1.titulogaleria{
    color: white;
    font-size: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    text-align: center;
}

h2.titulogaleria{
    color: white;
    text-align: center;
}

nav.galeria{   
    background-color:black;

}

/* Estilos tienda aplicar h1, nav y h2 en html tienda*/




/* Estilos clientes */
.selectDto{
    display: block;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 94%;
    height: 30px;
    font-size: 16px;
    color: rgba(85, 85, 85, 0.452);

}

fieldset{
    width: 100%;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-image: initial;
}

/* Responsive */
@media (max-width: 768px){
    html{
        overflow-x: hidden;
    }
    .contenedor-header{
        flex-direction: column;
        justify-content: flex-start;
    }
    .contenedor-logo{
        margin-left: 50px;
    }

    .contenedor_icon-menu{
        display: block;
        margin-top: 5%;
        margin-left: 50%;
    }
    .icon-menu {
        font-size: 40px;
        border: 1px solid #555;
    }

    .icon-menu:hover{
        color: #e8c2ca;
    }

    header label{
        display: block;
        width: 42px;
    }
    header label:hover{
        cursor: pointer;
        background: rgba(0, 0, 0, 0.3);
    }
    .menu li{
        margin-left: 10px;
        margin-top: 10px;
    }

    .menu li a{
        color: #735d78;
    }
    .navegacion{
        margin-top: 30px;
        margin-left: 60%;
        visibility: hidden;
    }

    
    #boton-menu:checked ~ .navegacion{
        visibility: visible;
        margin-left: -43%;
        margin-top: 40px;
        width: 100%;
        font-size: 15px;
    }

    .contendorVideo{
        flex-direction: column;
    }
    .video{
        margin: auto;
    }
    .textVideo{
        margin: 40px auto;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid #555;
        padding-bottom: 30px;
    }
    .textWhatsapp{
        font-size: 30px;
        margin: auto;
        border-top: 1px solid #555;
        padding-top: 30px;
    }
    .contenedor-footer{
        flex-direction: column;
    }
    .iconos{
        padding-top: 80px;
        padding-left: 40px;
    }
    .textofooter{
        padding-top: 30px;
    }

    .textofooter h2{
        font-size: 10px;
        padding-top: 10px;
    }

}


@media (max-width: 1024px) {
    html{
        overflow-x: hidden;
    }
    .contenedor-header{
        flex-direction: column;
    }
    .menu li{
        margin-left: 5px;
        margin-top: 0;
    }

    .navegacion{
        font-size: 12px;
        margin-top: -10px;
        margin-left: -20%;

    }
    .contendorVideo{
        justify-content: space-around;
        height: 30%;
    }
    .Video{
        max-width: 400px;
    }
    .textVideo{
        font-size: 15px;
    }
    .textWhatsapp{
        font-size: 30px;
    }
}

@media (min-width: 1280px){

    .menu li{
        margin-left: 20px;
        margin-bottom: 35px;
    }
    .navegacion{
        font-size: 18px;   
    }
    .contendorVideo{
        padding-bottom: 50px;
        border-bottom: 1px solid #555;
    }
    .textVideo{
        font-size: 20px;
    }
    .textWhatsapp{
        width: 100%;
        margin: 50px auto;
        font-size: 40px;
    }
}