/* Diseño inicial */
*{
    margin: 0;
    padding: 0px;
}
html, body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #EED2D8;
}
#container_ppal, #containerPage{
    height: 100%;
}
#container_ppal{
    width: 100%;
}
#containerPage{
    width: 2048px;
    margin: 0 auto;
}

/* Estilo encabezado */

.contenedor-header{
    background-image: url(/Imagenes/fondo/pincelada.png);
    background-color: #fff0f3;
    background-repeat: no-repeat;
    background-size: 100% 110%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
.contenedor-logo{
    width: 20%;
    height: 180px;
    margin-top: 1%;
    margin-left: 3%;
}
.img-logo{
    width: 90%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    padding-right: 8%;
}

/* Estilo Menu */

.contenedor-menu{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.navegacion{
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.navegacion ul{
    list-style: none;
}
.menu{
    position: absolute;
    top: 8%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li{
    display: inline-block;
    padding: 0 1.2em;
    flex-grow: 1;
}
.menu > li > a{
    padding: 8px 15px;
    text-decoration: none;
    color: #fff ;
    border-bottom: 1px solid black;
}
.menu li a:hover{
    color: black;
    transition: all 0.5s;
    
    background-color: #f9f0f2ad;
    border-radius: 5px;
}
.submenu{
    margin-top: 2%;
    position:absolute;
    background-color: #d1b3c4;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0.3;
    transition: all 0.5s;
    list-style: none;
    width: 28%;
    font-size: 15px;
}
.submenu li{
    display: block;
    padding: 10px 0;
    margin-left: 0;
}
.submenu li a{
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    z-index: 9999;
}
.icon-menu{
    display: none;
}

/* Estilos main */

main{
    background-color: #fff0f3;
}
.container-main{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 3% 0;
}

/* Estilos main index */

.freyaEs{
    background-color:#EED2D8;
    width: 170%;
    height: 300px;
    text-align: center;
    margin: 10% -207px; 
}
.container_main-textFreya{
    display: block;
    margin: 4% 30%;
}
.freyaEs h2{
    font-size: 35px;
    color: #735d78;
}
.freyaEs p{
    font-size: 20px;
    margin: 25px 0;
    color: #735d78;
}
.section_video{
    display: flex;
    width: 100%;
    padding-bottom: 3%;
}
.container_video{
    width: 60%;
    padding: 10px;
}
.video{
    width: 100%;
}
.textVideo {
    display: block;
    font-size: 20px;
    text-align: center;
    color: #735d78;
    margin: auto;
    width: 50%;
    padding: 80px;  
}
.contenedor_whatsapp{
    display: flex;
    width: 40%;
    /* height: 72%; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #555;
    margin: auto;
    padding: 5% 0;
}
.contenedor_whatsapp-icon{
    margin: 0 auto;
}
.icon-whatsapp{
    display: block;
    font-size: 7em;
    color: #00B34E;
}
.contenedor_textWhatsapp {
    display: block;
    text-align: center;
    color: #735d78;
    width: 90%;
    margin: 0 auto;
}
.contenedor_textWhatsapp h3{
    font-size: 30px;
}
.textWhatsapp{
    font-size: 53px;
    color: #00B34E;
}
.numeroTel{
    background: #00B34E;
    font-size: 45px;
    padding: 20px 0;
    color:white;
}


/* Estilos main Galeria */

.contenedor_galeria{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.galeria{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 3px;
}
.imagen_galeria{
    width: 45%;
    position: relative;
    height: 400px;
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}
/*
.imagen_galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
} */
.imagen_galeria-fresa{
    width: 30%;
    position: relative;
    height: 300px;
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.contenedorVertical{
    display: flex;
    width: 70%;
    padding-top: 50px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 3px;
}
.contenedorVertical .imagenVertical{
    width: 25%;
    position: relative; 
    height: 400px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}

/* otros estilos*/

.contenedorPaleta{
    display: flex;
    width: 70%;
    padding-top: 50px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: px;
}
.contenedorPaleta .imagen{
    width: 25%;
    position: relative;
    height: 300px;
    margin-bottom: 5px;
    padding: 15px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}
.contenedorCorazon{
    display: flex;
    width: 70%;
    padding-top: 50px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
}
.contenedorCorazon .imagen{
    width: 32%;
    position: relative;
    height: 400px;
    margin-bottom: 2px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}
.contenedorVariedad{
    display: flex;
    width: 70%;
    padding-top: 50px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
}
.contenedorVariedad .imagen{
    width: 32%;
    position: relative;
    height: 500px;
    margin-bottom: 3px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}

.imagenVertical img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.contenedorVertical .imagenLicor{
    width: 33%;
    position: relative; 
    height: 450px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}
.imagenLicor img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.contenedorInicial{
    display: flex;
    width: 75%;
    padding-top: 50px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 3px;
}
.contenedorInicial .imagen{
    width: 32%;
    position: relative; 
    height: 450px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #d1b3c48e;
    width: 100%;
    height: 0;
    transition: .5 ease;
    overflow: hidden;
}
.overlay h2{
    color: #fff;
    font-style: oblique;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.imagen_galeria:hover .overlay{
    height: 100%;
    cursor: pointer;
}
.imagen_galeria-fresa:hover .overlay{
    height: 100%;
    cursor: pointer;
}
.imagenVertical:hover .overlay{
    height: 100%;
    cursor: pointer;
}
.imagenLicor:hover .overlay{
    height: 100%;
    cursor: pointer;
}


/* Estilo main contactenos (formulario) */

.tituloFormulario{
    padding: 30px;
    text-align: center;
    color: #735D78;
}
form.contacto{
    display: flex;
    font-family: "Monserrat";
    color: #735d78;
    width: 600px;
    font-size: 20px;
    margin: auto;
    justify-content: left;
    flex-wrap: wrap;
    overflow: hidden;
}
legend.text{
    text-align: center;
}
.campo{
    display: block;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 92%;
    height: 20px;
    font-size: 16px;
    color: rgb(85, 85, 85);
}
.grupo{
    margin: 15px;
    width: 100%;
    color: rgba(85, 85, 85);
}
textarea.campo{
    height: 100px;
}
.campo:focus{
    border-color: #cdb4db;
}
.boton{
    padding: 2px;
    background-color: #b392ac;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: #fff;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: pointer;
    width: 25%;
}
.boton:hover{
    color: #735d78;
    transition: all 0.3s;
    background-color: #e8c2ca;
    border-radius: 10px;
}

/* Estilos main de Registro de clientes (formulario) */

.selectDto{
    display: block;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 94%;
    height: 30px;
    font-size: 16px;
    color: rgba(85, 85, 85, 0.452);
}
fieldset{
    width: 100%;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-image: initial;
}

/* Estilo para el Footer */

.contenedor-footer{
    display: flex;
    background-image: url(/Imagenes/fondo/footer.png);
    background-color: #fff0f3;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
.contenedor_footer_direccion{
    display: flex;
    flex-wrap: wrap;
    min-width: 70%;
    text-align: center;
}
.text_direccion{
    width: 30%;
    font-size: 18px;
    color: white;
    margin: auto 0;
    padding-top: 15px;
}
.text_direccion h2{
    padding-bottom: 10px;
}
.text_direccion p{
    font-size: 23px;
    padding: 0 15px;
}
.text_telefono{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    font-size: 15px;
    color: white;
    margin: auto 0;
    justify-content: center;
}
.footer_icon-whatsapp{
    color: green;
    font-size: 30px;
    padding: 8% 8% 0 8%;
}
.whatsapp{
    display: block;
    font-size: 30px;
    padding-top: 8%;
}
.text_telefono p{
    padding: 10px;
    font-size: 25px;
}
.text_horario{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    font-size: 18px;
    color: white;
    margin: auto 0;
    justify-content: center;
    flex-direction: column;
}
.text_horario h2{
    padding-bottom: 10px;  
}
.text_horario p{
    font-size: 20px;
}
.iconos{
    float: left;
    margin: auto 0 auto auto ;
}
.IMG_footer{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 50px;
}

/* Responsive */

@media (max-width: 768px){
    html{
        overflow-x: hidden;
    }
    #containerPage{
        width: 100%;
        height: 100%;
    }
    .contenedor-header{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .contenedor-logo{
        width: 30%;
        padding-left: 8%;
    }
    .contenedor-menu{
        width: 60%;
    }
    .icon-menu{
        font-size: 2em;
        display: block;
        padding: 5px;
        cursor: pointer;
        margin-left: 70%;
        margin-top: 15%;
        z-index: 9999999;
    }
    .icon-menu:hover{
        color: #e8c2ca;
    }
    .navegacion{
        opacity: 0;
        visibility: hidden;
        z-index: 999;
    }
    .menu{
        display: block;
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .menu li a{
        color: #735d78; 
    }
    .mostrar{
        opacity: 5;
        visibility: visible;
    }
    .imagen_galeria{
        height: 250px;
    }
    .freyaEs{
        height: 210px;
    }
    .section_video{
        flex-direction: column;
    }
    .container_video{
        margin: auto;
    }
    .video{
        padding-bottom: 40px;
        margin: auto;
    }
    .textVideo{
        margin: 40px auto;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 30px;
    }
    .textWhatsapp{
        font-size: 30px;
        margin: auto;
        padding-top: 30px;
    }
    .contenedor-footer{
        flex-direction: column;
    }
    .iconos{
        padding-top: 80px;
        padding-left: 40px;
    }
    .contenedor_textWhatsapp h3{
        font-size: 0.5em;
    }
    .textWhatsapp{
        font-size: 1.5em;
    }
}

@media (max-width: 1024px) {
    html{
        overflow-x: hidden;
    }
    #containerPage{
        width: 100%;
        height: 100%;
    }
    .contenedor-logo{
        margin-left: 1%;
    }
    .navegacion{
        margin-left: 0;
    }
    .menu li{
        padding: 0 8px;
    }
    .submenu{
        width: 30%;
    }
    .submenu li{
        padding: 10px 0;
    }
    .submenu li a{
        padding: 10px 3px;
    }

    /* main index */
    .container_video{
        padding: 0;
    }
    .textVideo{
        font-size: 80%;
        padding:0;
        margin: auto;
    }
    .contenedor_textWhatsapp h3{
        font-size: 1.5em;
    }
    .textWhatsapp{
        font-size: 2.5em;
    }
    .numeroTel{
        font-size: 2em;
    }

    /* main galeria */
    .imagen_galeria{
        height: 300px;
    }
}

@media (max-width: 1440px){
    html{
        overflow-x: hidden;
    }
    #containerPage{
        width: 100%;
        height: 100%;
    }
    .navegacion{
        font-size: 17px;
    }
    .container-main{
        padding: 50px 0;
    }
    .freyaEs h2{
        font-size: 20px;
    }
    .freyaEs p{
        font-size: 16px;
    }
    .section_video{
        flex-wrap:wrap;
    }
    .container_video{
        min-width: 30%;
    }
    .contenedor_whatsapp{
        min-width: 30%;
        margin-top: 10%;
        padding: 5% 0;
    }
    .footer_icon-whatsapp{
        font-size: 20px;
    }
    .whatsapp{
        padding-top: 15px;
    }
    .contenedor_footer_direccion h2{
        font-size: 20px;
    }
    .contenedor_footer_direccion p{
        font-size: 15px;
    }

}
